<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE MÍ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!--INICIO DE HEADER-->
    <header class="header">
        <div class="contenedor">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <img src="../image/arista300.png" alt="logo"></a>
                    <a class="navbar-brand" href="index.html"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end container" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <!-- <a class="nav-link active" aria-current="page" href="#">HOME</a> -->
                            <a class="nav-link" href="../../index.html">HOME</a>
                            <a class="nav-link" href="../views/1sobremi.html">SOBRE MÍ</a>
                            <a class="nav-link" href="../views/2servicios.html">SERVICIOS</a>
                            <a class="nav-link" href="../views/3portafolio.html">PORTAFOLIO</a>
                            <a class="nav-link" href="../views/4contacto.html">CONTACTO</a>
                            <!-- <a class="nav-link disabled">PORTAFOLIO</a>
                      <a class="nav-link disabled">CONTACTO</a> -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--FIN DE HEADER-->
    <main class="mainabout">
        <section class="seccionuno">
            <h1>SOBRE MÍ</h1>
        </section>
        <div class="contenidomainabout">
            <section class="presentacion">
                <p1>Lorem ipsum dolor</p1>
                <h3>Lorem ipsum dolor</h3>
                <p2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet
                    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p2>
            </section>
            <section class="fotomarybel">
                <img src="../image/MarybelArista.jpeg" alt="MarybelArista">
            </section>
        </div>
    </main>
    <!--Inicio de footer-->
    <footer>
        <!--Redes sociales-->
        <section class="redes">
            <div>
                <img src="../image/instagram.png" alt="INSTAGRAM">
                <img src="../image/behanceicon.png" alt="BEHANCE">
                <img src="../image/linkedinicon.png" alt="LIKEDIN">
                <img src="../image/pinteresticon.png" alt="PINTEREST">
            </div>
        </section>
        <!--Legales-->
        <p1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p1>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>